html {
    box-sizing: border-box;

}

html, body {
	height: 100%;
	border-style: solid;
}
*, *:before, *:after {
    box-sizing: inherit;
}

div {
	border-style: solid;
}

#game-container{
	width: 95%;
	margin: auto;
	height: 60%;
	background: url(/store.jpg) no-repeat;
	background-size: 100%;
	border-style: solid;

}

#mole-container {
	position: relative;
	width: 95%;
	height: 100%;
	cursor: url(/tomm-fresh.png), auto;
}

.one-third,{
	margin: auto;
}

.flash-mole {
	display: inline;
}

#mole {
	position: absolute;
	width: 9%;
	left: 0%;
	bottom: 0%;
}